.body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(238, 238, 238);
}

.navbar {
  background-color: rgb(93, 35, 255);
  font-family: "Times New Roman", Times, serif;
}

nav {
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.2);
}

.search-button {
  font-family: "Times New Roman", Times, serif;
  background-color: #ffaf7a;
  border-radius: 20px;
  border-color: grey;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.footer {
  font-family: "Times New Roman", Times, serif;
  text-align: right;
  position: absolute;
  padding-top: 20px;
}

/*NEWLY ADDED*/
* {
  border-radius: 0 !important;
  outline: 2px;
  border-inline-color: none;
}

input {
  border-width: 2px;
  border-color: lightgrey;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.2);
  width: 352px;
}

.select {
  width: 350px;
}

div {
  margin: auto;
}

input,
select {
  height: 38px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.input-group {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1.5rem;
}

.input-label {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: black;
  margin-bottom: 1rem;
  width: 150px;
}

.container {
  padding: auto;
  margin: auto;
}

button:hover {
  opacity: 0.8;
}

footer {
  font-family: "Times New Roman", Times, serif;
}
